header {
  background-color: rgb(24, 24, 62);
  margin: auto;
  text-align: center;
}
.info {
  background-color: rgb(55, 55, 105);
  margin: auto;
  text-align: center;
  color: rgb(241, 223, 142);
}
h2 {
  background-color: rgb(74, 147, 107);
}
img {
  max-height: auto;
  max-width: 450px;
  border: 2px solid rgb(136, 156, 194);
  border-radius: 50%;
}
h3 {
  color: rgb(22, 39, 54);
  background-color: rgb(85, 138, 138);
}
